* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background-color: #009900;
}

.btn {
  color: black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

select,
option {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.preRoll {
  max-height: 50vh;
}
.dice {
  max-height: 50%;
}
.dice-shake {
  animation: shake 0.5s ease-in-out infinite !important;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dice-board,
.main {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 6px;
}

.dice-board {
  height: 50vh;
  justify-content: space-around;
}
.dice-display {
  flex-wrap: wrap;
}

.dice-selection {
  font-size: 1.5rem;
  padding: 6px;
  gap: 6px;
}

.main {
  height: 100vh;
}

.main > p {
  font-size: 2rem;
}

#diceDisplay {
  width: 80vw;
  flex-wrap: wrap;
}

#diceDisplay > i {
  font-size: 8rem;
  color: black;
  padding: 6px;
}

#totalDisplay {
  font-size: 2rem;
}
